<div class="container mt-4">
  <!-- Search Input -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <input
      type="text"
      class="form-control w-25"
      placeholder="Search by name..."
      [(ngModel)]="searchQuery"
      (input)="applyFilters()"
    />
    <!-- Feature Buttons -->
    <div class="features">
      <button class="btn btn-primary mr-2" (click)="openFilterModal()">
        <i class="material-icons">filter_list</i> Filter
      </button>
      <button class="btn btn-secondary mr-2" (click)="openSortModal()">
        <i class="material-icons">sort</i> Sort
      </button>
      <!-- <button class="btn btn-secondary mr-2" (click)="resetNewCar()">
        <i class="material-icons">refresh</i> Reset Filter
      </button> -->
      <button class="btn btn-success mr-2" (click)="openAddDataModal()">
        <i class="material-icons">add</i> Add Data
      </button>
      <button class="btn btn-info" (click)="exportToCSV()">
        <i class="material-icons">download</i> Download CSV
      </button>
    </div>
  </div>
</div>

<!-- Car Data Table -->
<div class="table-container">
  <table mat-table [dataSource]="filteredCars" class="mat-elevation-z8" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let car">{{ car.name }}</td>
    </ng-container>

    <!-- MPG Column -->
    <ng-container matColumnDef="mpg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>MPG</th>
      <td mat-cell *matCellDef="let car">{{ car.mpg }}</td>
    </ng-container>

    <!-- Cylinders Column -->
    <ng-container matColumnDef="cylinders">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cylinders</th>
      <td mat-cell *matCellDef="let car">{{ car.cylinders }}</td>
    </ng-container>

    <!-- Displacement Column -->
    <ng-container matColumnDef="displacement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Displacement</th>
      <td mat-cell *matCellDef="let car">{{ car.displacement }}</td>
    </ng-container>

    <!-- Horsepower Column -->
    <ng-container matColumnDef="horsepower">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Horsepower</th>
      <td mat-cell *matCellDef="let car">{{ car.horsepower }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
      <td mat-cell *matCellDef="let car">{{ car.weight }}</td>
    </ng-container>

    <!-- Acceleration Column -->
    <ng-container matColumnDef="acceleration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acceleration</th>
      <td mat-cell *matCellDef="let car">{{ car.acceleration }}</td>
    </ng-container>

    <!-- Model Year Column -->
    <ng-container matColumnDef="model_year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Model Year</th>
      <td mat-cell *matCellDef="let car">{{ car.model_year }}</td>
    </ng-container>

    <!-- Origin Column -->
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Origin</th>
      <td mat-cell *matCellDef="let car">{{ car.origin }}</td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<!-- Filter Modal -->
<ng-template #filterModal>
  <div class="modal-dialog custom-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Filter Cars</h2>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body custom-modal-body">
        <!-- Filter Key Selection -->
        <div class="form-group">
          <label for="filterKey" class="filter-label">Filter By:</label>
          <select
            id="filterKey"
            [(ngModel)]="selectedFilterKey"
            (ngModelChange)="onFilterKeyChange()"
            class="form-control custom-form-control"
          >
            <option *ngFor="let key of filterKeys" [value]="key">
              {{ key }}
            </option>
          </select>
        </div>
        <!-- Filter Value Input -->
        <div class="form-group" *ngIf="selectedFilterKey">
          <label for="filterValue" class="filter-label">Filter Value:</label>
          <input
            id="filterValue"
            type="text"
            [(ngModel)]="filters[selectedFilterKey]"
            class="form-control custom-form-control"
            [type]="isNumberFilter(selectedFilterKey) ? 'number' : 'text'"
            aria-label="filterValue"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="resetFilters()">
          Reset Filters
        </button>
        <button type="button" class="btn btn-primary" (click)="applyFilters()">
          Apply Filters
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Sort Modal -->
<ng-template #sortModal>
  <div class="modal-dialog custom-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Sort Cars</h2>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body custom-modal-body">
        <!-- Add sort options here -->
        <div class="form-group">
          <label for="sortKey" class="sort-label">Sort By:</label>
          <select
            id="sortKey"
            [(ngModel)]="sortKey"
            class="form-control custom-form-control"
          >
            <option
              *ngFor="
                let key of [
                  'name',
                  'mpg',
                  'cylinders',
                  'displacement',
                  'horsepower',
                  'weight',
                  'acceleration',
                  'model_year',
                  'origin'
                ]
              "
              [value]="key"
            >
              {{ key }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="sortOrder" class="sort-label">Order:</label>
          <select
            id="sortOrder"
            [(ngModel)]="sortOrder"
            class="form-control custom-form-control"
          >
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="resetSort()">
          Reset Sort
        </button>
        <button type="button" class="btn btn-primary" (click)="applyFilters()">
          Apply Sort
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Add Data Modal -->
<ng-template #addDataModal>
  <div class="modal-dialog custom-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Add Car</h2>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body custom-modal-body">
        <form (ngSubmit)="addCar()" #carForm="ngForm">
          <div class="form-group">
            <label for="name" class="sort-label">Name:</label>
            <input
              type="text"
              id="name"
              [(ngModel)]="newCar.name"
              name="name"
              class="form-control custom-form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="mpg" class="sort-label">MPG:</label>
            <input
              type="number"
              id="mpg"
              [(ngModel)]="newCar.mpg"
              name="mpg"
              class="form-control custom-form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="cylinders" class="sort-label">Cylinders:</label>
            <input
              type="number"
              id="cylinders"
              [(ngModel)]="newCar.cylinders"
              name="cylinders"
              class="form-control custom-form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="displacement" class="sort-label">Displacement:</label>
            <input
              type="number"
              id="displacement"
              [(ngModel)]="newCar.displacement"
              name="displacement"
              class="form-control custom-form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="horsepower" class="sort-label">Horsepower:</label>
            <input
              type="number"
              id="horsepower"
              [(ngModel)]="newCar.horsepower"
              name="horsepower"
              class="form-control custom-form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="weight" class="sort-label">Weight:</label>
            <input
              type="number"
              id="weight"
              [(ngModel)]="newCar.weight"
              name="weight"
              class="form-control custom-form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="acceleration" class="sort-label">Acceleration:</label>
            <input
              type="number"
              id="acceleration"
              [(ngModel)]="newCar.acceleration"
              name="acceleration"
              class="form-control custom-form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="model_year" class="sort-label">Model Year:</label>
            <input
              type="number"
              id="model_year"
              [(ngModel)]="newCar.model_year"
              name="model_year"
              class="form-control custom-form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="origin" class="sort-label">Origin:</label>
            <input
              type="text"
              id="origin"
              [(ngModel)]="newCar.origin"
              name="origin"
              class="form-control custom-form-control"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="addCar()">
          Add Car
        </button>
      </div>
    </div>
  </div>
</ng-template>
