<div class="land-page">
  <h3>
    Firehawk Car App is your essential tool for exploring the world of
    automotive data. Designed for car enthusiasts and everyday drivers, Firehawk
    offers a streamlined experience for viewing, searching, adding, and
    filtering comprehensive car datasets. Whether you’re researching vehicle
    specifications, comparing models, or managing your own car collection,
    Firehawk provides the insights and tools you need to make informed decisions
    with ease. Discover detailed information and keep track of your automotive
    interests effortlessly with Firehawk.
    <br />
    <span routerLink="/sign-up">Sign Up!</span>
  </h3>
  <img src="../../../assets/images/landing.png" alt="landing" width="800" />
</div>
