mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 32px;
  height: 90vh;
  background: url("../assets/images/fire-logo.png") no-repeat center;
  background-size: 45rem;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}
